<!doctype html>
<html>
    <head>
        <title>Nerd Jokes</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/custom.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/skeleton-fontawesome-buttons.css">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <script src="js/custom.js"></script>
    </head>
    <body>
        {% for joke in jokes %}
            <h1>{{joke.uuid}}</h1>
        {% endfor %}
    </body>
</html>
